<%- include('partials/header.ejs') %>
<body class="app-page">
<%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="wrapper-container">
            <div class="groups-header-nav">
                <div>
                    <h1>Groups</h1>
                    <p>Manage your teams and collaborative spaces</p>
                </div>
                <form method="GET" action="/logout">
                    <input type="submit" value="Log Out">
                </form>
            </div>
            <div class="groups-summary-box">
                <div class="card-shape flex-column summary-card">
                    <h4>Your Groups</h4>
                    <h2><%= yourGroups %></h2>
                    <p>Groups you are part of</p>
                </div>
                <div class="card-shape flex-column summary-card">
                    <h4>Today's Events</h4>
                    <h2><%= totalEvents %></h2>
                    <p>Upcoming activities</p>
                </div>
                <div class="card-shape flex-column summary-card">
                    <h4>Running Timers</h4>
                    <h2>...</h2>
                    <p>... total timers</p>
                </div>
            </div>
            <%if (userInvites.length > 0) {%>
            <div>
                <h2>Invites</h2>
                <div class="container-invites hide-scrollbar card-shape" id="container-invites">
                    <div class="flex-column" id="wrapper-invites">
                        <% userInvites.forEach((i) => {%>
                            <div class="card-shape group-card">
                                <div class="justify-start">
                                    <h4><%= i.groups.groups_title%></h5>
                                    <span class="badge-secondary"><%= i.groups.tag_name%></span>
                                </div>
                                <div class="justify-between">
                                    <p><%= i.groups.groups_description%></p>  
                                    <div>
                                        <button class="invite-accepted" data-group-id="<%=i.groups_id%>">Accept</button>
                                        <button class="invite-declined" data-group-id="<%=i.groups_id%>">Decline</button>
                                    </div>
                                </div>
                            </div>
                        <% })%>
                    </div>
                </div>
            </div>
            <%}%>
            <div class="group-list-title">
                <h2>All Groups</h2>
                <button class="create-group-btn" id="create-group-btn">+ Create Group</button>
            </div>
            <div class="wrapper-cards card-shape hide-scrollbar" id="wrapper-cards">
                <% if (locals.userGroups) { userGroups.forEach((group) => {%>
                    <div class="group-card card-shape">
                        <div class="group-header">
                            <h3><%= group.groupInfo.title %></h3>
                            <div class="badge-secondary"><%= group.groupInfo.tag %></div>
                        </div>

                        <p><%= group.groupInfo.description %></p>

                        <div class="group-header-stat">
                            <div class="group-stat">
                                <i></i>
                                <span class="fw-bold"><%= group.todoLists.length %></span>
                                <p>Todo lists</p>
                            </div>
                            <div class="group-stat">
                                <i></i>
                                <span class="fw-bold"><%= group.events.length %></span>
                                <p>Events</p>
                            </div>
                            <div class="group-stat">
                                <i></i>
                                <span class="fw-bold">...</span>
                                <p>Timers</p>
                            </div>
                        </div>

                        <div class="groups-card-header">
                            <h4>Members (<%= group.members.length.toString() %>)</h4>
                            <div>
                                <button class="invite-user-btn" data-group-id="<%=group.groupInfo.groupId%>">Invite</button>
                            </div>
                        </div>
                        <% 
                            const visible = (group.members || []).slice(0, 3);
                            const remaining = Math.max(0, (group.members || []).length - visible.length);
                        %>
                        <div class="group-members">
                            <% visible.forEach(member => { %>
                            <div class="card-member card-shape">
                                <div class="card-title">
                                    <h5><%= member.profile.username %></h5>
                                    <div class="badge-secondary"><%= member.role %></div>
                                </div>
                                <div><%= member.profile.email %></div>
                            </div>
                            <% }); %>
                        </div>
                        <% if (remaining > 0) {%>
                        <span class="justify-center">+<%= remaining %> More members</span>
                        <% } %>
                        <hr>
                        
                        <div class="card-shape group-todo">
                            <div class="justify-between w-100">
                                <h4>Task Completion</h4>
                                <h4><%=group.groupInfo.totalTasks.completed%> of <%= group.groupInfo.totalTasks.all%></h4>
                            </div>
                            <div class="w-100">
                                <div class="progress-container" role="progressbar" aria-valuenow="<%= group.groupInfo.totalTasks.completed %>" aria-valuemax="<%= group.groupInfo.totalTasks.all %>">
                                    <div class="progress" 
                                    <% /* eslint-disable css-propertyvalueexpected */ %>
                                    style="width: <%= group.groupInfo.progressWidth %>%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="group-footer">
                            <p>Created at <%= group.groupInfo.created_at%></p>
                            <div class="group-end-btn">
                                <button>Details</button>
                                <button>Manage</button>
                            </div>
                        </div>
                    </div>
                <% })} %>
            </div>
        </div>
    </div>

    <div class="modal-overlay-groups" id="modal-overlay-groups">
        <div class="modal-box-groups">
            <span class="close-btn" id="close-btn">&times;</span>

            <form method="post" action="/create-group" class="form-modal-groups" id="form-modal-groups">
                <div class="flex-column gap-0">
                    <h3>Create Group</h3>
                    <p>Create a new group and invite members to collaborate.</p>
                </div>
                <div class="flex-column">
                    <label for="group-title">Group Name</label>
                    <input type="text" name="group-title" id="group-title" placeholder="Enter group name" required>
                </div>
                <div class="flex-column">
                    <label for="group-description">Description</label>
                    <textarea id="group-description" name="group-description" rows="3" cols="33"
                        placeholder="What is this about?"></textarea>
                </div>
                <div class="flex-column">
                    <label for="tag-name">Tag Name</label>
                    <input type="text" name="tag-name" id="tag-name"
                        placeholder="e.g. Development, Groceries, Household chores.">
                </div>
                <div class="flex-column">
                    <label for='invite-user'>Invite Members</label>
                    <div class="justify-row-between">
                        <input type="text" placeholder="email@example.com / username" name="invite-users"
                            id="invite-user">
                        <button type="button" class="addUserBtn" id="addUserBtn">&#43;</button>
                    </div>
                    <div class="flex-column">
                        <div>Invited Members</div>
                        <div class="justify-start gap-5 selected-users" id="selectedUsers">
                            <!--Show the users selected by the user-->
                        </div>
                    </div>

                    <button type="submit" id="addGroup">Add Group</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-overlay-groups" id="invite-user-modal">
        <div class="modal-box-groups">
            <span class="close-btn" id="close-btn-invite">&times;</span>

            <form method="post" class="form-modal" id="form-modal-invite">
                <div class="flex-column">
                    <h3>Invite Members</h3>
                    <div class="justify-row-between">
                        <input type="text" placeholder="email@example.com / username" name="invite-user-input"
                            id="invite-user-input">
                        <button type="button" class="addUserBtn" id="addUserBtnModal">&#43;</button>
                    </div>
                    <div class="flex-column">
                        <p>Invited Members</p>
                        <div class="justify-start gap-5 selected-users" id="selectedUsersModal">
                            <!--Show the users selected by the user-->
                        </div>
                    </div>

                    <button type="submit" id="sendInviteUsers">Add Users</button>
                </div>
            </form>
        </div>
    </div>

    <template id="template-new-group">
        <div class="group-card card-shape">
            <div class="group-header">
                <h3 id="group-title"></h3>
                <div class="badge-secondary" id="group-tag"></div>
            </div>

            <p id="group-description"><</p>

            <div class="group-header-stat">
                <div class="group-stat">
                    <i></i>
                    <span class="fw-bold">0</span>
                    <p>Todo lists</p>
                </div>
                <div class="group-stat">
                    <i></i>
                    <span class="fw-bold">0</span>
                    <p>Events</p>
                </div>
                <div class="group-stat">
                    <i></i>
                    <span class="fw-bold">...</span>
                    <p>Timers</p>
                </div>
            </div>

            <div class="groups-card-header">
                <h4 id="members-title">Members (4)</h4>
                <div>
                    <button class="invite-user-btn">Invite</button>
                </div>
            </div>

            <div class="group-members">
            </div>

            <span class="justify-center">+1 More members</span>

            <hr>

            <div class="group-footer">
                <p>Created at 1-1-2024</p>
                <div class="group-end-btn">
                    <button>Details</button>
                    <button>Manage</button>
                </div>
            </div>
        </div>
    </template>

    <template id="group-member-template">
        <div class="card-member card-shape">
            <div class="card-title">
                <h5 id="user-username"></h5>
                <div class="badge-secondary" id="user-role"></div>
            </div>
            <div id="user-mail"></div>
        </div>
    </template>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/groups.js"></script>
    <%- include('partials/footer.ejs') %>